@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto'),
       url(../fonts/roboto.woff) format('woff'),
       url(../fonts/roboto.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto Bold'),
       local('RobotoBold'),
       url(../fonts/robotobold.woff) format('woff'),
       url(../fonts/robotobold.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 400;
  src: local('Roboto Slab'),
       local('RobotoSlab'),
       url(../fonts/robotoslab.woff) format('woff'),
       url(../fonts/robotoslab.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 700;
  src: local('Roboto Slab Bold'),
       local('RobotoSlabBold'),
       url(../fonts/robotoslabbold.woff) format('woff'),
       url(../fonts/robotoslabbold.woff2) format('woff2');
}
