@import "variables.scss";
@import "mixin.scss";
@import "normalize.scss";
@import "fonts.scss";
@import "scaffolding.scss";
@import "outlines.scss";

@import "blocks/btn.scss";
@import "blocks/page-header.scss";
@import "blocks/logo";
@import "blocks/main-nav.scss";
@import "blocks/user.scss";
@import "blocks/social.scss";
@import "blocks/intro.scss";
@import "blocks/courses.scss";
@import "blocks/videos.scss";
@import "blocks/reviews.scss";
@import "blocks/about-course.scss";
@import "blocks/lessons.scss";
@import "blocks/payment.scss";
@import "blocks/page-footer.scss";
