$font-primary-back: 'Arial', sans-serif;
$font-primary: 'Roboto', $font-primary-back;

$font-secondary-back: 'Georgia', serif;
$font-secondary: 'Roboto Slab', $font-secondary-back;

$primary-color: #000000;
$secondary-color: #073648;
$third-color: #e84d3d;
$fourth-color: #999999;
$fifth-color: #f3df49;
$sixth-color: #ffffff;
$seventh-color: #09455d;

$M: 660px;
$L: 1000px;
