.btn {
  @include font-set(700, 18px, 46px);

  box-sizing: border-box;
  display: block;
  width: 200px;
  min-height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 7px;
  padding-left: 7px;

  color: $sixth-color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $third-color;
  border-radius: 5px;
  border: 2px solid $third-color;
  transition: .35s;

  &--more {
    margin-top: 20px;
  }

  &--nojs {
    display: none;
  }

  &:hover {
    color: $third-color;

    border-color: $third-color;
    background-color: $sixth-color;
  }
}

@include MQ(M) {
  .btn {
    &--more {
      margin-top: 40px;
    }
  }
}
