.btn {
  @include font-set(700, 18px, 30px);

  box-sizing: border-box;
  display: block;
  width: 200px;
  min-height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;

  color: $sixth-color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $third-color;
  border-width: 0;
  border-color: transparent;

  border-radius: 5px;
}
