.intro {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 50px;

  &__img-wrap {
    width: 130px;
    padding-right: 40px;
    padding-left: 40px;
  }

  &__wrap {
    flex-grow: 1;
    box-sizing: border-box;
    width: 320px;
    padding-right: 40px;
    padding-left: 40px;
  }

  &__title {
    margin-top: 0;

    font-family: $font-secondary;
    text-align: center;

    &--main {
      display: none;
    }
  }

  &__text {
    @include font(15px, 25px);

    margin: 0;

    &--main {
      margin-top: 50px;
    }
  }

  &__btn {
    width: 250px;
    margin-top: 50px;

    &:hover {
      border-color: $sixth-color;
    }
  }
}

@include MQ(M) {
  .intro {
    &__title {
      &--main {
        display: block;
      }
    }

    &__text {
      &--main {
        display: block;
      }
    }
  }
}

@include MQ(L) {
  .intro {
    &__wrap {
      flex-grow: 0;
      width: 500px;
    }
  }
}
