.intro {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 40px;

  &__img-wrap {
    width: 130px;
    padding-right: 40px;
    padding-left: 40px;
  }

  &__wrap {
    flex-grow: 1;
    width: 320px;
    padding-right: 40px;
    padding-left: 40px;
  }

  &__title {
    font-family: $font-secondary;
    text-align: center;
  }
}

@include MQ(L) {
  .intro {
    &__wrap {
      flex-grow: 0;
      width: 500px;
    }
  }
}
