.logo {
  @include font-set(700, 26px, 26px);

  display: block;
  width: 95px;
  padding: 12px;

  font-family: $font-secondary;
  color: $sixth-color;
  text-decoration: none;
}

@include MQ(L) {
  .logo {
    margin-left: auto;
  }
}
