.main-nav {
  display: none;
  padding-bottom: 10px;

  &--show {
    display: block;
  }

  &__list {
    @include clear-list;
  }

  &__sub {
    &-list {
      @include clear-list;
    }

    &-link {
      @include font(15px, 30px);

      box-sizing: border-box;
      display: block;
      min-height: 50px;
      padding-top: 10px;
      padding-left: 10px;
      padding-left: 30px;

      color: transparentize($sixth-color, .3);

      text-decoration: none;

      &:not([href]) {
        text-decoration: underline;
      }
    }
  }

  &__link {
    @include font(15px, 30px);

    box-sizing: border-box;
    display: block;
    min-height: 50px;
    padding: 10px;

    color: $sixth-color;
    text-decoration: none;

    &:not([href]) {
      text-decoration: underline;
    }
  }
}

@include MQ(L) {
  .main-nav {
    display: flex;
    align-items: flex-start;
    margin-right: auto;
    padding-bottom: 0;

    &__list {
      @include font(0, 0);

      display: flex;
      flex-wrap: wrap;
      max-width: 580px;
    }

    &__link {
      &--more {
        padding-right: 18px;

        &::before {
          @include absolute-pseudo-element;

          top: 50%;
          right: 5px;

          border: 5px solid $sixth-color;
          border-right-color: transparent;
          border-bottom-color: transparent;
          border-left-color: transparent;

          transform: translateY(-20%)
        }
      }

      &[href] {
        &::after {
          @include absolute-pseudo-element;

          bottom: 10px;
          left: 50%;

          width: 0%;
          height: 2px;

          background-color: $sixth-color;
          transform: translateX(-50%);
          transition: .35s;
        }

        &:not(.main-nav__link--more):hover::after {
          width: 95%;
          height: 2px;
        }
      }

      &:not([href]) {
        position: relative;

        text-decoration: none;

        &::after {
          @include absolute-pseudo-element;

          bottom: 10px;
          left: 0;

          width: 95%;
          height: 2px;

          background-color: $sixth-color;
        }
      }
    }

    &__sub {
      &-list {
        position: absolute;
        z-index: 10;

        visibility: hidden;
        opacity: 0;
        transition-duration: .4s;
      }

      &-link {
        min-width: 250px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;

        color: $primary-color;
        text-align: left;

        transition-duration: .35s;

        &:hover {
          background-color: transparentize($secondary-color, .8);
        }
      }
    }

    &__item {
      position: relative;

      flex-grow: 1;

      text-align: center;

      transition-duration: .4s;

      &--more {
        &:hover {
          background-color: $sixth-color;

          & .main-nav__link {
            color: $primary-color;

            &::before {
              right: 10px;

              border: 5px solid $primary-color;
              border-top-color: transparent;
              border-bottom-color: transparent;
              border-left-color: transparent;

              transform: translateY(-50%)
            }
          }

          & .main-nav__sub-list {
            position: absolute;
            z-index: 10;

            display: block;

            background-color: $sixth-color;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
