.page-header {
  color: transparentize($sixth-color, 0.05);

  background-color: transparentize($seventh-color, .1);
  box-shadow: 0 0 25px $primary-color;

  &__wrap {
    position: relative;

    box-sizing: border-box;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    background-color: $secondary-color;
    box-shadow: 0 0 10px transparentize($primary-color, .4);
  }

  &__toggle {
    position: absolute;
    top: 12px;
    right: 20px;

    width: 38px;
    height: 28px;

    cursor: pointer;

    background-color: transparent;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 0 transparentize($sixth-color, .9),
                0 -1px 0 transparentize($sixth-color, .9),
                inset 0 -2px 0 transparentize($primary-color, .7);

    &::before {
      @include absolute-pseudo-element;

      left: 50%;
      top: 50%;

      width: 18px;
      height: 2px;

      background-color: $sixth-color;
      box-shadow: 0 -5px 0 $sixth-color,
                  0 5px 0 $sixth-color;

      transform: translate(-50%, -50%);
    }
  }
}

@include MQ(L) {
  .page-header {
    &__wrap {
      display: flex;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      padding-bottom: 0;
    }

    &__toggle {
      display: none;
    }
  }
}
