.page-footer {
  padding-top: 40px;

  text-align: center;

  background-color: $secondary-color;
  box-shadow: 0 1px 15px $primary-color;

  &__list {
    @include clear-list;

    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;

    text-align: center;
  }

  &__name {
    @include font-set(700, 18px, 40px);

    display: inline-block;
    min-height: 40px;
    margin-bottom: 10px;

    vertical-align: top;
    text-align: center;
    text-transform: uppercase;

    color: transparentize($sixth-color, .15);
  }

  &__item {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__sub {
    &-list {
      @include clear-list;
    }
  }

  &__link {
    @include font(13px, 20px);

    box-sizing: border-box;
    display: block;
    min-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

    color: transparentize($sixth-color, .3);
    text-decoration: none;

    &:not([href]) {
      text-decoration: underline;
    }
  }

  &__tel {
    @include font(13px, 20px);

    box-sizing: border-box;
    display: block;
    min-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

    color: transparentize($sixth-color, .3);
    text-decoration: none;
  }

  &__email {
    @include font(13px, 20px);

    box-sizing: border-box;
    display: block;
    min-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

    color: transparentize($sixth-color, .3);
    text-decoration: none;
  }

  &__wrap {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparentize(#999, .7);
  }

  &__copyright {
    @include font(18px, 50px);

    position: relative;

    display: inline-block;
    margin: 0;
    margin-top: 40px;
    padding-left: 50px;

    color: transparentize($sixth-color, .3);
  }

  &__link-logo {
    @include font(0, 0);

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 40px;
  }
}

@include MQ(M) {
  .page-footer {
    &__copyright {
      margin-top: 0;
    }
  }
}

@include MQ(L) {
  .page-footer {
    &__item {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 0;
      margin-left: 20px;

      vertical-align: top;
    }
  }
}
