.payment {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-right: 20px;
  padding-bottom: 100px;
  padding-left: 20px;

  background-color: transparentize($fifth-color, .3);
  box-shadow: inset 0 5px 25px -10px transparentize($primary-color, .5);

  &__title {
    @include visually-hidden;

    margin-top: 0;

    text-align: center;
  }

  &__price {
    @include font-set(700, 70px, 80px);

    display: block;
    margin-bottom: 20px;

    text-align: center;
    color: transparentize($primary-color, .3);
  }

  &__text {
    box-sizing: border-box;
    max-width: 400px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  &__list {
    @include clear-list;
    @include font(0, 0);

    box-sizing: border-box;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }

  &__item {
    box-sizing: border-box;
    display: inline-block;
    width: 73px;
    height: 40px;
    padding: 11px;
    margin-right: 17px;

    vertical-align: top;

    background-color: $sixth-color;
  }

  &__btn {
    @include font(16px, 46px);
    width: 278px;

    &:hover {
      background-color: transparent;
    }
  }

  &__seats {
    @include font(16px, 46px);

    display: block;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    text-transform: uppercase;
  }
}
