.social {
  @include font(0, 0);

  position: absolute;
  bottom: -72.5px;
  right: 20px;
  z-index: 5;

  &__link {
    display: inline-block;
  }

  &--footer {
    position: static;

    display: block;
  }
}



@include MQ(M) {
  .social {
    &--footer {
      display: inline-block;
      margin-top: 40px;
      margin-right: 87px;

      vertical-align: top;
    }
  }
}
