.social {
  @include font(0, 0);


    position: static;
    box-sizing: border-box;
    max-width: 1000px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;

    text-align: right;

  &__link {
    display: inline-block;
  }

  &--footer {
    position: static;

    display: block;
    padding-right: 0;
    padding-left: 0;
  }
}



@include MQ(M) {
  .social {
    position: static;
    box-sizing: border-box;
    max-width: 1000px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;

    text-align: right;

    &--footer {
      display: inline-block;
      margin-top: 40px;
      margin-right: 87px;

      vertical-align: top;
    }

    &__link {
      transition: .25s;

      &:hover {
        opacity: .8;
      }
    }
  }
}
