.social {
  @include font(0, 0);

  box-sizing: border-box;
  max-width: 1000px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  text-align: right;

  &__link {
    display: inline-block;
  }

  &--footer {
    display: block;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
}



@include MQ(M) {
  .social {
    &--footer {
      display: inline-block;
      margin-top: 0;
      margin-right: 67px;

      vertical-align: top;
    }

    &__link {
      transition: .25s;

      &:hover {
        opacity: .8;
      }
    }
  }
}
