.user {
  &__sign-up {
    @include font-set(700, 12px, 32px);

    display: block;
    min-height: 32px;
    margin-bottom: 18px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;

    color: $sixth-color;
    text-decoration: none;
    text-transform: uppercase;

    background-color: $third-color;
    border-radius: 3px;
    transition: .35s;

    &:hover {
      color: $third-color;
      background-color: $sixth-color;
    }
  }

  &__log-in {
    @include font(15px, 30px);

    box-sizing: border-box;
    display: block;
    min-height: 50px;
    padding: 10px;

    color: transparentize($sixth-color, .2);
    text-decoration: none;
    transition: .2s;

    &:hover {
      color: $sixth-color;
    }
  }
}

@include MQ(L) {
  .user {
    @include font(0, 0);

    margin-right: auto;
    margin-left: 40px;

    &__sign-up {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px;

      vertical-align: top;
    }

    &__log-in {
      display: inline-block;

      vertical-align: top;
    }
  }
}
