.videos {
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    @include font(25px, 41px);

    margin-top: 0;
    margin-bottom: 50px;

    font-family: $font-secondary;
    text-align: center;
    text-transform: uppercase;
  }

  &__wrap {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  &__item {
    box-sizing: border-box;
    flex-grow: 1;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    overflow: hidden;

    background-color: $sixth-color;
    border: 1px solid transparentize($secondary-color, .7);
    border-radius: 10px;
    box-shadow: inset 0 0 5px transparentize($secondary-color, .5);
    transition-duration: .25s;

    &:nth-of-type(n+3) {
      display: none;
    }

    &:hover {
      box-shadow: inset 0 0 0 transparentize($secondary-color, .5),
                  0 0 15px transparentize($secondary-color, .5);
    }
  }

  &__name {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;

    font-family: $font-secondary;
  }

  &__duration {
    display: block;
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }

  &:not(&--main) {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  &:not(&--main) &__item {
    &:nth-of-type(n+3) {
      display: block;
    }
  }

  &--main {
    background-color: transparentize($seventh-color, .95);
    box-shadow: 0 1px 20px transparentize($primary-color, .7);
  }
}

@include MQ(M) {
  .videos {
    &__item {
      flex-grow: 0;
      width: 46.87%;
      margin-right: 1.56%;
      margin-bottom: 0;
      margin-left: 1.56%;
    }
  }
}

@include MQ(L) {
  .videos {
    &__item {
      flex-grow: 1;
      width: 300px;
      margin-right: 10px;
      margin-left: 10px;
      &:nth-of-type(n+3) {
        display: block;
      }
    }
  }
}
