.videos {
  padding-top: 50px;
  padding-bottom: 20px;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;

    text-align: center;
  }

  &__wrap {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  &__item {
    flex-grow: 1;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;

    &:nth-of-type(n+3) {
      display: none;
    }
  }

  &__name {
    margin-top: 15px;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }

  &__duration {
    display: block;
    margin-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
  }

  &:not(&--main) {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  &:not(&--main) &__item {
    &:nth-of-type(n+3) {
      display: block;
    }
  }
}

@include MQ(M) {
  .videos {
    &__item {
      flex-grow: 0;
      width: 46.87%;
      margin-right: 1.56%;
      margin-left: 1.56%;
    }
  }
}

@include MQ(L) {
  .videos {
    &__item {
      flex-grow: 1;
      width: 300px;
      margin-right: 10px;
      margin-left: 10px;
      &:nth-of-type(n+3) {
        display: block;
      }
    }
  }
}
